# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Raw datasets
data/raw/*
!data/raw/.gitkeep

# Outputs
outputs/reports/*
outputs/visualizations/*
!outputs/reports/.gitkeep
!outputs/visualizations/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
